 .form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  color: white;
 }
 .form{
  background-color:rgb(14, 12, 12);
  padding: 30px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px  rgba(145, 145, 145, 0.616);
  width: 300px;
 }
 .form input{
  background-color: transparent;
  width: 200px;
  height: 30px;
  border-bottom: 1px solid blue;
  border-radius: 15px;
  border: transparent;
 }
 .form input::placeholder{
  color: white;
  padding: 10px;
 }
 input:nth-child(3){
  border-bottom: 1px solid brown;
  color: white;
 }
input:nth-child(7){
  border-bottom: 1px solid bisque;
  color: white;
 }
 input:nth-child(11){
  border-bottom: 1px solid rgb(42, 165, 83);
  color: white;
 }
  input:nth-child(15){
  border-bottom: 1px solid rgb(165, 42, 114);
  color: white;
 }
   input:nth-child(18){
  border-bottom: 1px solid rgb(165, 42, 114);
  color: white;
  background-color: blue;
  border: 1px solid yellow;
  margin-left: 40px;
  transition: 0.3s ease;
 }
   input:nth-child(18):hover{
  background-color: purple;
 transform: scale(1,2);
 }
